/*
Theme Name:AmazingRibs
Theme URI:https://amazingribs.com
Author:Ostap Pashko
Author URI:https://coderce.com
Description:WordPress theme for AmazingRibs.com
Text Domain:
Version:2.0.0
License:GNU General Public License v2 or later
*/
@font-face{    font-family:'Fira Sans';     font-style:italic;     font-weight:400;     src:local('Fira Sans Italic'),    local('FiraSans-Italic'),    url(https://fonts.gstatic.com/s/firasans/v9/va9C4kDNxMZdWfMOD5VvkrjJYTQ.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasans/v9/va9C4kDNxMZdWfMOD5VvkrjJYTc.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans';     font-style:italic;     font-weight:500;     src:local('Fira Sans Medium Italic'),    local('FiraSans-MediumItalic'),    url(https://fonts.gstatic.com/s/firasans/v9/va9f4kDNxMZdWfMOD5VvkrA6Qif4VF8.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasans/v9/va9f4kDNxMZdWfMOD5VvkrA6Qif4VFw.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans';     font-style:italic;     font-weight:600;     src:local('Fira Sans SemiBold Italic'),    local('FiraSans-SemiBoldItalic'),    url(https://fonts.gstatic.com/s/firasans/v9/va9f4kDNxMZdWfMOD5VvkrAWRSf4VF8.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasans/v9/va9f4kDNxMZdWfMOD5VvkrAWRSf4VFw.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans';     font-style:italic;     font-weight:700;     src:local('Fira Sans Bold Italic'),    local('FiraSans-BoldItalic'),    url(https://fonts.gstatic.com/s/firasans/v9/va9f4kDNxMZdWfMOD5VvkrByRCf4VF8.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasans/v9/va9f4kDNxMZdWfMOD5VvkrByRCf4VFw.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans';     font-style:italic;     font-weight:800;     src:local('Fira Sans ExtraBold Italic'),    local('FiraSans-ExtraBoldItalic'),    url(https://fonts.gstatic.com/s/firasans/v9/va9f4kDNxMZdWfMOD5VvkrBuRyf4VF8.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasans/v9/va9f4kDNxMZdWfMOD5VvkrBuRyf4VFw.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans';     font-style:normal;     font-weight:400;     src:local('Fira Sans Regular'),    local('FiraSans-Regular'),    url(https://fonts.gstatic.com/s/firasans/v9/va9E4kDNxMZdWfMOD5Vvl4jN.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasans/v9/va9E4kDNxMZdWfMOD5Vvl4jO.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans';     font-style:normal;     font-weight:500;     src:local('Fira Sans Medium'),    local('FiraSans-Medium'),    url(https://fonts.gstatic.com/s/firasans/v9/va9B4kDNxMZdWfMOD5VnZKveRhf8.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasans/v9/va9B4kDNxMZdWfMOD5VnZKveRhf_.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans';     font-style:normal;     font-weight:600;     src:local('Fira Sans SemiBold'),    local('FiraSans-SemiBold'),    url(https://fonts.gstatic.com/s/firasans/v9/va9B4kDNxMZdWfMOD5VnSKzeRhf8.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasans/v9/va9B4kDNxMZdWfMOD5VnSKzeRhf_.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans';     font-style:normal;     font-weight:700;     src:local('Fira Sans Bold'),    local('FiraSans-Bold'),    url(https://fonts.gstatic.com/s/firasans/v9/va9B4kDNxMZdWfMOD5VnLK3eRhf8.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasans/v9/va9B4kDNxMZdWfMOD5VnLK3eRhf_.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans';     font-style:normal;     font-weight:800;     src:local('Fira Sans ExtraBold'),    local('FiraSans-ExtraBold'),    url(https://fonts.gstatic.com/s/firasans/v9/va9B4kDNxMZdWfMOD5VnMK7eRhf8.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasans/v9/va9B4kDNxMZdWfMOD5VnMK7eRhf_.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans Condensed';     font-style:italic;     font-weight:400;     src:local('Fira Sans Condensed Italic'),    local('FiraSansCondensed-Italic'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOjEADFm8hSaQTFG18FErVhsC9x-tarUfPdr-NX.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOjEADFm8hSaQTFG18FErVhsC9x-tarUfPdr-NU.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans Condensed';     font-style:italic;     font-weight:500;     src:local('Fira Sans Condensed Medium Italic'),    local('FiraSansCondensed-MediumItalic'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVXMBEcD5Z.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVXMBEcD5a.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans Condensed';     font-style:italic;     font-weight:600;     src:local('Fira Sans Condensed SemiBold Italic'),    local('FiraSansCondensed-SemiBoldItalic'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVcMdEcD5Z.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVcMdEcD5a.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans Condensed';     font-style:italic;     font-weight:700;     src:local('Fira Sans Condensed Bold Italic'),    local('FiraSansCondensed-BoldItalic'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEcD5Z.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEcD5a.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans Condensed';     font-style:italic;     font-weight:800;     src:local('Fira Sans Condensed ExtraBold Italic'),    local('FiraSansCondensed-ExtraBoldItalic'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVCMVEcD5Z.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVCMVEcD5a.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans Condensed';     font-style:normal;     font-weight:400;     src:local('Fira Sans Condensed Regular'),    local('FiraSansCondensed-Regular'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOhEADFm8hSaQTFG18FErVhsC9x-tarUfbtqw.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOhEADFm8hSaQTFG18FErVhsC9x-tarUfbtqA.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans Condensed';     font-style:normal;     font-weight:500;     src:local('Fira Sans Condensed Medium'),    local('FiraSansCondensed-Medium'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWQXOuMR0dA.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWQXOuMR0dw.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans Condensed';     font-style:normal;     font-weight:600;     src:local('Fira Sans Condensed SemiBold'),    local('FiraSansCondensed-SemiBold'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWSnJuMR0dA.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWSnJuMR0dw.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans Condensed';     font-style:normal;     font-weight:700;     src:local('Fira Sans Condensed Bold'),    local('FiraSansCondensed-Bold'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMR0dA.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMR0dw.ttf) format('truetype')}
@font-face{    font-family:'Fira Sans Condensed';     font-style:normal;     font-weight:800;     src:local('Fira Sans Condensed ExtraBold'),    local('FiraSansCondensed-ExtraBold'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWVHLuMR0dA.woff) format('woff'),    url(https://fonts.gstatic.com/s/firasanscondensed/v4/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWVHLuMR0dw.ttf) format('truetype')}
@font-face{    font-family:'Open Sans';     font-style:italic;     font-weight:400;     src:local('Open Sans Italic'),    local('OpenSans-Italic'),    url(https://fonts.gstatic.com/s/opensans/v16/mem6YaGs126MiZpBA-UFUK0Zdcs.woff) format('woff'),    url(https://fonts.gstatic.com/s/opensans/v16/mem6YaGs126MiZpBA-UFUK0Zdcg.ttf) format('truetype')}
@font-face{    font-family:'Open Sans';     font-style:normal;     font-weight:400;     src:local('Open Sans Regular'),    local('OpenSans-Regular'),    url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0d.woff) format('woff'),    url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype')}
@font-face{    font-family:'Open Sans';     font-style:normal;     font-weight:700;     src:local('Open Sans Bold'),    local('OpenSans-Bold'),    url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhv.woff) format('woff'),    url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype')}

body{ font-family:'Fira Sans',Arial,sans-serif;  line-height:1.6em}
a:link, a:visited{ color:#891319;  font-weight:700;  text-decoration:none}
a:link, a:visited, .read-more, .read-less{ font-weight:600}
h1, h4{ line-height:1.1em}
.button{ background-image:-webkit-linear-gradient(270deg,rgba(255,119,121,1) 0%,rgba(196,0,0,1) 100%);  background-image:linear-gradient(180deg,rgba(255,119,121,1) 0%,rgba(196,0,0,1) 100%);  padding:5px 10px;  display:inline-block;  color:#ffc !important;  background-color:#900;  text-decoration:none;  font-weight:400 !important;  font-size:90%;  -moz-border-radius:7px;  -webkit-border-radius:7px;  border-radius:7px;  margin:auto;  text-align:center}
#main-body-wedge{ height:182px}
#main-body-wedge.no-ads{ height:80px}
.wrapper{ margin-left:auto;  margin-right:auto;  max-width:1180px;  padding-left:10px;  padding-right:10px}
.content-wrapper{ position:relative}
.widget-section h2, .widget-section h3{ font-size:20px;  font-style:italic;  font-family:'Fira Sans Condensed','Arial Narrow',sans-serif;  line-height:1.1}
.rtecenter{ text-align:center}
.wrapper .widget-right{ position:absolute;  top:0;  right:0;  width:300px}
#center-body-wrapper{ padding-right:300px}
#center-body-wrapper .widget-left{ float:left;  width:33.33333%;  border-top:solid 1px #000;  padding:10px;  box-sizing:border-box}
#center-body-wrapper .widget-left .widget-left-content{ border-bottom:solid 1px #000}
#center-body-wrapper .widget-left .widget-left-content img{ max-width:95%;  height:auto}
#center-body-wrapper .widget-left .widget-left-content{ border-bottom:solid 1px #000}
#center-body-wrapper .widget-left .textwidget{ font-family:Verdana,Arial,Helvetica,Geneva,sans-serif !important;  font-size:13px}
#center-body-wrapper .widget-left h3{ font-family:'Fira Sans Condensed','Arial Narrow',sans-serif;  font-weight:600;  font-size:140%;  margin-top:10px;  margin-bottom:5px;  color:#666;  font-style:italic;  font-weight:700;  height:auto;  line-height:1.1em;  overflow:visible;  padding:0}
#center-body-wrapper .container{ float:right;  width:66.667%;  box-sizing:border-box;  padding-left:10px;  padding-right:10px}
#center-body-wrapper .hero-image{ padding-right:5px}
#center-body-wrapper .hero-image img{ width:100%}
@media screen and (max-width:1025px) /* Mobile */{ #center-body-wrapper .hero-image{ display:none}
}
@media screen and (max-width:1100px) /* Mobile */{ #center-body-wrapper .widget-left{ float:none;  width:100%}
 #center-body-wrapper .container{ float:none;  width:100%}
 #breadcrumbs{ padding-right:10px;  padding-left:10px}
}
#center-body-wrapper .container img{ max-width:100%;  height:auto !important}
@media screen and (max-width:768px) /* Mobile */{ .wrapper .widget-right{ position:initial;  width:100%}

 #center-body-wrapper{ padding-right:0px}
}
/* Contact Form */
.constant-contact img{ float:left;  margin-right:10px;  width:84px;  max-width:none}
.constant-contact #smoke-news{ clear:both;  text-align:center}

/* Comments */
section.comments{ background-color:rgba(218,180,135,1);  padding:5px;  overflow:auto;  clear:both}
.comments h4{ font-weight:500;  font-size:200%}

/* Footer */
footer{ padding:10px 0;  background-color:#ffc;  position:relative;  clear:both;  font-size:90%;  border-top:1px solid rgba(0,0,0,1)}

/* NavBar */
.navbar .tagline{ float:right;  font-size:23px;  line-height:0.3em;  margin-bottom:0}
.navbar .navbar-header{ line-height:normal;  background:white}
.navbar .navbar-collapse{ background-color:#891319;  line-height:normal}
.navbar ul.navbar-nav{ margin:0;  height:43px;  padding-left:0}
.navbar ul.navbar-nav li a{ color:#fff;  font-size:21px;  line-height:43px;  font-weight:100;  padding-right:10px;  padding-left:10px}
.navbar ul.navbar-nav >li >a{ border-right:1px solid #fff}
.navbar ul.navbar-nav li:last-child a{ border-right:none}
.navbar ul.navbar-nav li{ color:#fff;  float:left;  list-style-type:none;  position:relative}
.navbar ul.sub-menu{ padding:0;  display:none}
.navbar ul.navbar-nav li:hover >ul.sub-menu{ display:block}
.navbar ul.sub-menu li{ background-color:#891319;  font-size:12px;  width:100%;  float:left;  clear:both;  line-height:11px;  padding-left:10px;  padding-right:10px;  box-sizing:border-box}
.navbar ul.sub-menu li:last-child{ padding-top:5px;  padding-bottom:5px;  border-top:1px solid white}
.navbar ul.sub-menu li a{ font-size:14px;  width:100%;  line-height:23px;  padding:0}
nav.navbar{ position:fixed;  right:0;  left:0;  z-index:9;  background:#fff;  top:0;  height:82px}
.mobileMenu input.menuBurger{ display:block;  width:40px;  height:32px;  position:absolute;  top:-7px;  left:-5px;  cursor:pointer;  opacity:0; /* hide this */ z-index:2; /* and place it over the hamburger */ -webkit-touch-callout:none}

@media screen and (max-width:1100px) /* Desktop */{ .wrapper{ padding:0}
 nav.navbar{ height:40px;  -moz-box-shadow:0 0 7px rgba(0,0,0,0.4);  -webkit-box-shadow:0 0 7px rgba(0,0,0,0.4);  box-shadow:0 0 7px rgba(0,0,0,0.4)}
 nav.navbar .navbar-header{ background:white}
 #main-body-wedge, #main-body-wedge.no-ads{ height:42px}
 .navbar .tagline{ display:none}
 .navbar .navbar-brand{ margin:auto;  display:block;  width:fit-content}
 .mobileMenu{ display:block;  position:relative;  top:-31px;  -webkit-user-select:none;  user-select:none}
 /*
  * Just a quick hamburger
  */
 .mobileMenu span.bar{ display:block;  width:33px;  height:4px;  margin-bottom:5px;  position:relative;  background:#891319;  border-radius:3px;  left:10px;  z-index:1;  transform-origin:4px 0px;  transition:transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease}
 .mobileMenu span.bar:first-child{ transform-origin:0% 0%}
 .mobileMenu span.bar:nth-last-child(2){ transform-origin:0% 100%}
 /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
 .mobileMenu input:checked ~ span.bar{ opacity:1;  transform:rotate(45deg) translate(-2px,-1px)}
 /*
     * But let's hide the middle one.
     */
 .mobileMenu input:checked ~ span.bar:nth-last-child(3){ opacity:0;  transform:rotate(0deg) scale(0.2,0.2)}
 /*
     * Ohyeah and the last one should go the other direction
     */
 .mobileMenu input:checked ~ span.bar:nth-last-child(2){ transform:rotate(-45deg) translate(0,-1px)}

 /*
 * Make this absolute positioned
 * at the top left of the screen
 */
 #menu{ position:absolute;  width:100%;  z-index:-1;  background:#891319;  list-style-type:none;  -webkit-font-smoothing:antialiased;  /* to stop flickering of text in safari */ transform-origin:0% 0%;  transform:translate(0,-1000%);  height:auto;  padding-left:0;  transition:transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)}
 #menu li{ float:none;  border-bottom:1px solid;  font-size:22px}
 #menu >li{ padding:10px 0}
 #menu li a{ border-right:0}

 /*
     * And let's slide it in from the left
     */
 .mobileMenu input:checked ~ #menuToggle ul{ transform:none}
}

/* Post list */
.post-item a{ font-family:'Fira Sans Condensed','Arial Narrow',sans-serif}
.post-item{ margin-bottom:15px;  border-bottom:2px dotted #666;  padding-bottom:10px;  font-size:14px;  min-height:108px}
.post-item img{ float:left;  display:block}
.post-item .content{ margin-left:165px;  min-height:155px}
.search{ position:relative;  z-index:2}
.navbar-collapse .fa-search{ float:right;  margin-top:-38px;  margin-right:10px;  font-size:30px;  color:white;  cursor:pointer}
.search-box{ width:400px;  padding-bottom:10px;  background:white;  position:absolute;  top:-300px;  padding-top:10px;  float:right;  text-align:center;  font-size:20px;  transition:all 0.5s ease;  z-index:-1;  right:0}
.search-box.open{ top:0px}
.search-box .search-field{ font-size:18px;  border:1px solid}
.search-box button{ font-size:18px}

@media screen and (max-width:1100px) /* Mobile */{ .search-box.open{ top:8px}
 .search-box{ width:100%}
 .navbar-collapse .fa-search{ color:#891319;  margin-top:-32px}
}
@media screen and (min-width:1100px) /* Mobile */{ ul.navbar-nav{ -moz-box-shadow:0 0 7px rgba(0,0,0,0.4);  -webkit-box-shadow:0 0 7px rgba(0,0,0,0.4);  box-shadow:0 0 7px rgba(0,0,0,0.4)}
 ul.navbar-nav ul.sub-menu{ z-index:2;  position:absolute;  width:100%}
}

/* Review table */
.reviewTable{ border-collapse:collapse;  border-top:1px dotted #999}
.reviewTable tr{ border-bottom:1px dotted #999}
.reviewTable tr .awardImage{ width:110px;  text-align:center}
.reviewTable tr td:first-child{ color:#666;  font-size:12px;  font-style:italic;  font-family:'Fira Sans',Arial,sans-serif;  font-weight:700;  width:40%}
.reviewTable tr td .price::before{ content:"$"}
.brandSection{ border-top:dotted 2px #000;  border-bottom:dotted 2px #000;  padding-top:5px;  padding-bottom:5px}
.brandSection p{ font-size:11pt !important;  line-height:1.1em}
.brandSection img{ width:60%}
.ad-item{ border-bottom:2px dotted #666;  padding-bottom:15px}
.ad-item img{ margin:0 auto;  display:block}
.header-ads{ background:white;  z-index:1}
.header-ads div{ display:inline-block}
